<% layout('layouts/boilerplate')%>
    <div class="row">
        <h1 class="text-center">New Audiobook</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/audiobooks" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="audiobook[title]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="genre">Genre</label>
                    <select name="audiobook[genre]" id="genre" class="form-control" required>
                        <option value="All">All</option>
                        <option value="Fiction">Fiction</option>
                        <option value="Non-fiction">Non-fiction</option>
                        <option value="Fantasy">Fantasy</option>

                    </select>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <!-- <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="audiobook[image]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div> -->
                <div class="mb-3">
                    <label class="form-label" for="price">Audiobook Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                            aria-describedby="price-label" name="audiobook[price]" required>
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="audiobook[description]"
                        required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-file custom-file">
                        <input type="file" class="form-file-input" id="image" name="image" multiple>
                        <label class="form-file-label" for="image">
                            <span class="form-file-text custom-file-label">Choose image(s)...</span>
                            <span class="form-file-button">Browse</span>
                        </label>
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Add Audiobook</button>
                </div>
            </form>
            <a href="/audiobooks">All Audiobooks</a>
        </div>
    </div>